@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Roboto, sans-serif;
    padding: 0 12em;
    background: #000000;
}

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

main {
    padding: 4em 13em;
    background-color: #ffffff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.nav-links {
    display: flex;
    gap: 1em;
    list-style: none;

}

.nav-links li a:hover,a:visited, a:link {
    color: green;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero .right {
    width: 50%;
    flex-shrink: 0;
    

}

.heroimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    height: 215px;

}


.left {
    margin: 0;
    padding: 0;

}

.right {
    margin: 0;
    padding: 0;


}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 7em 0;


}

.herobutton  {
    display:flex;
    padding: 5px 15px;
    border-radius: 7px;
    border-style:groove;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background: #3882f6;
}

.infobox  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    gap: 2em;
    padding: 3em 0em;
}

.infopics {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
}

.placeholderpic {
    background-color: white;
    border: 2px solid blue;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.quotebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E5E7EB;
    padding: 7em 13em;
}

.quote-author {
    align-self: flex-end;
    font-size: 15px;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 7em 13em;

}

.bluebox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882f6;
    border-radius: 10px;
    height: 110px;
    width: 100%;
}


.bluebox .left {
    display: flex;
    flex-direction: column;
    

}

.bluebox .right {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-shrink: 0;

}

.contactbutton  {
    padding: 5px 15px;
    border-radius: 7px;
    border-color: white;
    border-style:groove;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background: #3882f6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 3em 17em;

}

p.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color:#1f2937;
}


p.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FaF8;

}

h1.hero-maintext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;

}

p.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;

}

p.information {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}

h3.big {
    font-size: 12px;
    color:#E5E7EB;

}